@model PagedList.IPagedList<Utilant.Models.AlbumViewModel>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Albums</h2>

@using (Html.BeginForm())
{
    <p>
        <table>
            <tr>
                <td>
                    Find by Title:
                </td>
                <td>
                    @Html.TextBox("titleSearch", ViewBag.TitleSearch as string)
                </td>
                <td rowspan="2">
                    <input type="Submit" value="Search" class="btn btn-outline-info" data-toggle="tooltip"
                           data-placement="top" title="You can search both at the same time." />
                </td>
            </tr>
            <tr>
                <td>
                    Find by User's Name:
                </td>
                <td>
                    @Html.TextBox("nameSearch", ViewBag.NameSearch as string)
                </td>
            </tr>
        </table>
    </p>
}

<table class="table table-striped">
    <tr align="center">
        <th>
            Thumbnail
        </th>
        <th>
            Title
        </th>
        <th>
            User's Name
        </th>
        <th>
            User's Email
        </th>
        <th>
            User's Phone
        </th>
        <th>
            User's Address
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr align="center">
            <td>
                <img src=@Html.DisplayFor(modelItem => item.thumbnail) class="img-thumbnail" />
            </td>
            <td>@* Calls Photos Action in Home Controller*@
                @Html.ActionLink(item.Title, "Photos", new { id = item.albumId})
            </td>
            <td>@* Calls Users Action in Home Controller*@
                @Html.ActionLink(item.UsersName, "Users", new { id = item.UsersId})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsersEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsersPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsersAddress)
            </td>
        </tr>
    }

</table>
<br />

@* Paging function *@
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, titleSearch = ViewBag.TitleFilter, nameSearch = ViewBag.NameFilter }))
